
body{
    margin: 50px 5%;
    

}
.font{
    font-family: 'Playfair Display', serif;

    font-size: 55px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(red, Crimson);
color: white;
font-weight: 700;
padding: 12px 35px;
border-radius: 5px;

}

.heading-border{
    padding-left: 10px;
    border-left: 4px solid;
    border-image:linear-gradient(red, purple) ;
    border-image-slice: 1;


}
p{
    margin: 25px 0;
    padding: 5px;
    text-align: justify;
}
.my-mission{
    width: 40%;
    margin-right: 15px;
    padding-left: 5px;
    border-radius: 25px;
}
.myMission-img{
    height: 120px;
    width: 130px;

}
#mission-heading{
    text-align: center; 
    font-size: 45px;
}
.padding{
    padding:0 20px;
}
.dev-limit-heading{
    font-size: 30px; font-weight: 700;
}
.about-width{
    width: 33%;
    padding:0px 20px;
    border-image-slice: 1s;
    border-radius: 20px;
}
.about-h2{
    margin: 30px;

}
.heading{
    text-align: center;
    font-size: 50px;
    
}
.footer{
    font-family: cursive ;
    color: blanchedalmond;
    margin: 25px;
    

    
}
#footer-style{
    text-align: center;
    margin-top: -50px;
    background-color: black;
    
}
.bg-color{
    background-image: linear-gradient(white,grey);

}
.messege-box{
border-radius: 40px;

}
.messege{
    border-radius: 40px;

}